src/main/mule/maven-deploy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3d65202e-95d0-40ec-9c85-fe8e82f02a28" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="maven-deployFlow" doc:id="e49e2c40-ece0-4920-9f8a-01db44dac280" >
		<http:listener doc:name="Listener" doc:id="63686df2-bc05-4a19-a2b4-69e339d28ef0" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="8a0f6cde-d421-475f-bcdf-16f3a649cc75" message="#[payload]"/>
		<set-payload value="application is deployed on cloudhub and this for test" doc:name="Set Payload" doc:id="a0c1b735-4cc7-43b9-938d-f9c1401d9cff" />
	</flow>
</mule>
